
.poke-menu-component{
    
    .poke-block{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #616161;
        border-radius: 10px;
        padding: 25px;
        margin-bottom:15px;
        cursor: pointer;

        &:hover{

        }

        img{
            opacity: 0.5;
            transition: ease-in-out 0.25s;

            &:hover{
                opacity: 1;
            }
        }

        .poke-name{
            color: lightgrey;
            text-align: center;
            margin-block: 10px;
        }
    }
}