
.poke-menu-component{
    
    .instructions{
        margin-block: 15px;

        h4{

        }
    }

    .pokemon-filters{
        display: flex;
        margin-block: 55px;


        .filter{
            position: relative;
            width: fit-content;
            transition: ease-in-out 0.5;
            margin-right: 25px;

            .filter-button{
                position: relative;
                background-color: white;
                border: 1px solid darkgray;
                width: 170px;
                cursor: pointer;

                i{
                    margin-right: 10px;
                    position: absolute;
                    top: calc(50% / 2);
                    right: 0;
                }
                
                li{
                    padding: 5px 15px;
                    list-style: none;
                    font-weight: bold;

                    &.all-types-type{
                        background: radial-gradient(circle at center, violet 10%, indigo 20%, blue 30%, green 40%, yellow 50%, orange 60%, red 70%);
                    }

                    &.fire-type{
                        background: linear-gradient(to bottom, #ff8000, #ff0000);
                    }
    
                    &.water-type {
                        background: linear-gradient(to bottom, #4fc3f7, #0288d1);
                    }
    
                    &.grass-type {
                        background: linear-gradient(to bottom, #81c784, #43a047);
                    }
    
                    &.electric-type {
                        background: linear-gradient(to bottom, #ffd54f, #ffb300);
                    }
    
                    &.psychic-type {
                        background: linear-gradient(to bottom, #9575cd, #5e35b1);
                    }
    
                    &.fighting-type {
                        background: linear-gradient(to bottom, #d32f2f, #b71c1c);
                    }
    
                    &.ice-type {
                        background: linear-gradient(to bottom, #4dd0e1, #0097a7);
                    }
    
                    &.dragon-type {
                        background: linear-gradient(to bottom, #ff8a65, #d84315);
                    }
    
                    &.dark-type {
                        background: linear-gradient(to bottom, #7986cb, #303f9f);
                    }
    
                    &.fairy-type {
                        background: linear-gradient(to bottom, #ff80ab, #c2185b);
                    }
                      
                    &.normal-type {
                        color: black;
                        background: linear-gradient(to bottom, #a8a77a, #6d6d4e);
                    }
                    
                    &.rock-type {
                        background: linear-gradient(to bottom, #b8a038, #796315);
                    }
                    
                    &.flying-type {
                        background: linear-gradient(to bottom, #90b1c5, #377e95);
                    }
    
                    &.poison-type {
                        background: linear-gradient(to bottom, #a33ea1, #5e2252);
                    }
    
                    &.ground-type {
                        background: linear-gradient(to bottom, #d9bf6f, #997a3e);
                    }
    
                    &.bug-type {
                        background: linear-gradient(to bottom, #a8b820, #6d7815);
                    }
    
                    &.ghost-type {
                        background: linear-gradient(to bottom, #705898, #42424a);
                    }
    
                    &.steel-type {
                        color: black;
                        background: linear-gradient(to bottom, #bdb9b7, #8c8a88);
                    }
                }
            }
            
            ul{
                // display: none;
                list-style: none;
                background-color: white;
                border: 1px solid darkgray;
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                padding: 0;
                overflow-y: scroll;
                max-height: 0;
                transition: ease-in-out 0.5s;
                z-index: 10;

                &::-webkit-scrollbar {
                    width: 10px; /* Set the width of the scrollbar */
                  }
                  
                  /* Handle */
                  &::-webkit-scrollbar-thumb {
                    background: #888; /* Set the color of the scrollbar handle */
                    border-radius: 5px; /* Set the border-radius of the scrollbar handle */
                  }
                  
                  /* Handle on hover */
                  &::-webkit-scrollbar-thumb:hover {
                    background: #555; /* Set the color of the scrollbar handle on hover */
                  }

                &.toggler{
                    max-height: 250px;
                }
                
                li{
                    cursor: pointer;
                    padding: 5px 15px;
                    background-color: white;
                    transition: ease-in-out 0.25s;

                    &:nth-child(odd){
                        background-color: lightgray;
                    }

                    &:hover{

                        &.all-type{
                            background: radial-gradient(circle at center, violet 10%, indigo 20%, blue 30%, green 40%, yellow 50%, orange 60%, red 70%);
                        }

                        &.fire-type{
                            background: linear-gradient(to bottom, #ff8000, #ff0000);
                        }
        
                        &.water-type {
                            background: linear-gradient(to bottom, #4fc3f7, #0288d1);
                        }
        
                        &.grass-type {
                            background: linear-gradient(to bottom, #81c784, #43a047);
                        }
        
                        &.electric-type {
                            background: linear-gradient(to bottom, #ffd54f, #ffb300);
                        }
        
                        &.psychic-type {
                            background: linear-gradient(to bottom, #9575cd, #5e35b1);
                        }
        
                        &.fighting-type {
                            background: linear-gradient(to bottom, #d32f2f, #b71c1c);
                        }
        
                        &.ice-type {
                            background: linear-gradient(to bottom, #4dd0e1, #0097a7);
                        }
        
                        &.dragon-type {
                            background: linear-gradient(to bottom, #ff8a65, #d84315);
                        }
        
                        &.dark-type {
                            background: linear-gradient(to bottom, #7986cb, #303f9f);
                        }
        
                        &.fairy-type {
                            background: linear-gradient(to bottom, #ff80ab, #c2185b);
                        }
                          
                        &.normal-type {
                            color: black;
                            background: linear-gradient(to bottom, #a8a77a, #6d6d4e);
                        }
                        
                        &.rock-type {
                            background: linear-gradient(to bottom, #b8a038, #796315);
                        }
                        
                        &.flying-type {
                            background: linear-gradient(to bottom, #90b1c5, #377e95);
                        }
        
                        &.poison-type {
                            background: linear-gradient(to bottom, #a33ea1, #5e2252);
                        }
        
                        &.ground-type {
                            background: linear-gradient(to bottom, #d9bf6f, #997a3e);
                        }
        
                        &.bug-type {
                            background: linear-gradient(to bottom, #a8b820, #6d7815);
                        }
        
                        &.ghost-type {
                            background: linear-gradient(to bottom, #705898, #42424a);
                        }
        
                        &.steel-type {
                            color: black;
                            background: linear-gradient(to bottom, #bdb9b7, #8c8a88);
                        }
                    }

                }
            }
        }
    }
    .poke-block{
        
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        background-color: #616161;
        border-radius: 10px;
        padding: 25px;
        margin-bottom:15px;
        // height: 270px;
        cursor: pointer;

        &:hover{
            
        }

        img{
            opacity: 0.5;
            transition: ease-in-out 0.25s;

            &:hover{
                opacity: 1;
            }
        }

        .poke-name{
            color: lightgrey;
            text-align: center;
            margin-block: 10px;
        }

        .pokemon-type-container{
            display: flex;
            justify-content: space-around;
            margin-block: 15px;
            width: 100%;

            .type{
                background-color: white;
                padding: 5px 15px;
                border-radius: 10px;
                color: white;
                font-weight: bold;

                &.fire-type{
                    background: linear-gradient(to bottom, #ff8000, #ff0000);
                }

                &.water-type {
                    background: linear-gradient(to bottom, #4fc3f7, #0288d1);
                }

                &.grass-type {
                    background: linear-gradient(to bottom, #81c784, #43a047);
                }

                &.electric-type {
                    background: linear-gradient(to bottom, #ffd54f, #ffb300);
                }

                &.psychic-type {
                    background: linear-gradient(to bottom, #9575cd, #5e35b1);
                }

                &.fighting-type {
                    background: linear-gradient(to bottom, #d32f2f, #b71c1c);
                }

                &.ice-type {
                    background: linear-gradient(to bottom, #4dd0e1, #0097a7);
                }

                &.dragon-type {
                    background: linear-gradient(to bottom, #ff8a65, #d84315);
                }

                &.dark-type {
                    background: linear-gradient(to bottom, #7986cb, #303f9f);
                }

                &.fairy-type {
                    background: linear-gradient(to bottom, #ff80ab, #c2185b);
                }
                  
                &.normal-type {
                    color: black;
                    background: linear-gradient(to bottom, #a8a77a, #6d6d4e);
                }
                
                &.rock-type {
                    background: linear-gradient(to bottom, #b8a038, #796315);
                }
                
                &.flying-type {
                    background: linear-gradient(to bottom, #90b1c5, #377e95);
                }

                &.poison-type {
                    background: linear-gradient(to bottom, #a33ea1, #5e2252);
                }

                &.ground-type {
                    background: linear-gradient(to bottom, #d9bf6f, #997a3e);
                }

                &.bug-type {
                    background: linear-gradient(to bottom, #a8b820, #6d7815);
                }

                &.ghost-type {
                    background: linear-gradient(to bottom, #705898, #42424a);
                }

                &.steel-type {
                    color: black;
                    background: linear-gradient(to bottom, #bdb9b7, #8c8a88);
                }
            }
        }
    }
}