
.poke-menu-component{
    
    .poke-block{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #616161;
        border-radius: 10px;
        padding: 25px;
        margin-bottom:15px;
        cursor: pointer;

        &:hover{

        }

        img{
            opacity: 0.5;
            transition: ease-in-out 0.25s;

            &:hover{
                opacity: 1;
            }
        }

        .poke-name{
            color: lightgrey;
            text-align: center;
            margin-block: 10px;
        }

        .pokemon-type-container{
            display: flex;
            justify-content: space-around;
            margin-block: 15px;

            .type{
                background-color: white;
                padding: 5px 15px;
                border-radius: 10px;
                color: white;
                font-weight: bold;

                &.fire-type{
                    background: linear-gradient(to bottom, #ff8000, #ff0000);
                }

                &.water-type {
                    background: linear-gradient(to bottom, #4fc3f7, #0288d1);
                }

                &.grass-type {
                    background: linear-gradient(to bottom, #81c784, #43a047);
                }

                &.electric-type {
                    background: linear-gradient(to bottom, #ffd54f, #ffb300);
                }

                &.psychic-type {
                    background: linear-gradient(to bottom, #9575cd, #5e35b1);
                }

                &.fighting-type {
                    background: linear-gradient(to bottom, #d32f2f, #b71c1c);
                }

                &.ice-type {
                    background: linear-gradient(to bottom, #4dd0e1, #0097a7);
                }

                &.dragon-type {
                    background: linear-gradient(to bottom, #ff8a65, #d84315);
                }

                &.dark-type {
                    background: linear-gradient(to bottom, #7986cb, #303f9f);
                }

                &.fairy-type {
                    background: linear-gradient(to bottom, #ff80ab, #c2185b);
                }
                  
                &.normal-type {
                    color: black;
                    background: linear-gradient(to bottom, #a8a77a, #6d6d4e);
                }
                
                &.rock-type {
                    background: linear-gradient(to bottom, #b8a038, #796315);
                }
                
                &.flying-type {
                    background: linear-gradient(to bottom, #90b1c5, #377e95);
                }

                &.poison-type {
                    background: linear-gradient(to bottom, #a33ea1, #5e2252);
                }

                &.ground-type {
                    background: linear-gradient(to bottom, #d9bf6f, #997a3e);
                }

                &.bug-type {
                    background: linear-gradient(to bottom, #a8b820, #6d7815);
                }

                &.ghost-type {
                    background: linear-gradient(to bottom, #705898, #42424a);
                }

                &.metal-type {
                    background: linear-gradient(to bottom, #bdb9b7, #8c8a88);
                }
            }
        }
    }
}