
.team-builder-component{
    .my-poke{
        display:flex;
        flex-direction: column;
        align-items: center;
        border-radius:10px;
        background: radial-gradient(circle, #C0C0C0, #808080);
        padding: 20px;
        margin-bottom: 20px;
        
        i{
          cursor:pointer;
        }

        .poke-name{

        }

        .poke-stats{
            padding:0;
            width: 100%;

            li{
                display: flex;
                justify-content: space-between;
                align-items: center;

                .stat-label{

                }

                .stat-bar{
                    width: 100%;
                    height: 7px;
                    background-color: white;
                    border-radius: 15px;
                    margin-inline: 10px;

                    .bar{
                        height: 100%;
                        width: 50px;
                        background-color: yellow;
                        transition: ease-in-out 0.25s;
                    }
                }

                .stat-value{

                }
            }
        }
    }
}